.mt-4 {
    margin-top: 0rem !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 1440px;
    height: 200vh;
    background-image: url("../static/images/landing_page_pic.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    opacity: 0.8;
  }
  
  .container {
    max-width: 1440px;
  }
  
  .mb-4 {
    font-size: 2rem !important;
  }
  .border-bottom {
    font-size: 1rem;
  }
  .content-section {
    margin-left: 200px;
  }
  .btn-outline-info {
    color: #f26f10;
    border-color: #f26f10;
  }
  .btn:hover {
    background-color: #f26f10;
    border-color: #f26f10;
  }