body {
  background-image: url("../static/images/bg_pic.jpg");
}

.container {
  max-width: 1440px;
  margin-top: 24px;
}

.mb-4 {
  font-size: 2rem !important;
}
.border-bottom {
  font-size: 1rem;
}
.btn-outline-info {
  color: #f26f10;
  border-color: #f26f10;
}
.btn:hover {
  background-color: #f26f10;
  border-color: #f26f10;
}
