body {
  background-image: url("../static/images/bg_pic.jpg");
}

.container {
  max-width: 1440px;
  margin-bottom: 24px;
}
.card {
  margin-top: 24px;
}
.btn-primary {
  background-color: orange;
  border-color: orange;
}
.btn:hover {
  background-color: #f26f10;
}
.card-header {
  background-color: #f38536;
}
