body {
  margin: 0px;
  padding: 0px;
  background-color: #f26f10;
}

.background {
  width: 1440px;
  height: 100vh;
  background-image: url("../static/images/get_meals.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  opacity: 0.8;
}

.mt-4 {
  margin-top: 0rem !important;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 400px;
  margin-right: 330px;
}

.container {
  margin-right: 0px;
  margin-left: 0px;
  max-width: 2000px;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  max-width: 2000px;
}

.lead {
  font-weight: 800;
  color: black;
  justify-items: center;
  position: center;
  margin-left: 100px;
}

.display-4 {
  font-weight: 800;
  color: black;
}

.alert {
  margin-top: 365px;
}

.btn-primary {
  background-color: orange;
  border-color: orange;
  margin-left: 100px;
  margin-right: 20px;
}

.btn-primary:hover {
  background-color: #f26f10;
}

.card-img-top {
  height: 245px;
}

.card-body {
  background-color: white;
  height: 200px;
}

.card {
  width: 370px;
  margin-left: 45px;
}

.navbar-brand {
  color: #f26f10 !important;
}

.navbar-text {
  color: #f26f10 !important;
}