body {
  margin: 0px;
  padding: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("../static/images/landing_page_pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.mt-4 {
  margin-top: 0rem !important;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}
.container {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.lead {
  font-weight: 800;
  color: black;
  justify-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-4 {
  font-weight: 800;
  color: black;
}
.alert {
  margin-top: 365px;
}
.btn-primary {
  background-color: orange;
  border-color: orange;
  margin-right: 20px;
}
.btn-primary:hover {
  background-color: #f26f10;
}

.card-img-top {
  height: 245px;
  object-fit: cover;
}
.card-body {
  background-color: white;
  height: 200px;
}
.card {
  width: 100%;
}
.no-margin {
  margin: 0px;
}
.navbar-brand {
  color: #f26f10 !important;
}
.navbar-text {
  color: #f26f10 !important;
}
