body {
  margin: 0px;
  padding: 0px;
  background-color: #f26f10;
}

.background {
  height: 100%;
  background-image: url("../static/images/bg_pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0rem !important;
  text-align: center;
  padding-bottom: 0px;
}

.container {
  margin-right: 0px;
  margin-left: 0px;
  max-width: 2000px;
  padding-left: 0px;
  padding-right: 0px;
}

.lead {
  font-weight: 800;
  color: black;
  justify-items: center;
  display: flex;
}

.display-4 {
  font-weight: 800;
  color: black;
}
#alertLogin {
  margin-top: 340px;
}

.btn-primary {
  background-color: orange;
  border-color: orange;
  margin-right: 20px;
}

.btn-primary:hover {
  background-color: #f26f10 !important;
  border-color: #f26f10 !important;
}

.card-img-top {
  height: 245px;
  object-fit: cover;
}

.card-body {
  background-color: white;
}

.card {
  width: 100%;
  margin-bottom: 24px;
}

.navbar-brand {
  color: #f26f10 !important;
}

.navbar-text {
  color: #f26f10 !important;
}