body {
  min-width: 100vh;
  margin: auto;
  padding-left: 0px;
  background-image: url("../static/images/bg_pic.jpg");
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  min-height: 350px;
}

.container {
  max-width: 1440px;
  margin-top: 24px;
}
h3 {
  font-weight: 600;
  margin-top: 50px;
}
.btn-primary {
  background-color: orange;
  border-color: orange;
}
.btn:hover {
  background-color: #f26f10;
  border-color: #f26f10;
}
