{% extends "layout.html" %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='index.css') }}"
/>
<div class="background">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to MealMindy</h1>
    <p class="lead">Your personal guide to a healthier lifestyle.</p>
    <hr class="my-4" />

    {% if not current_user.is_authenticated %}
    <p class="lead" id="registerbtn">
      <a
        class="btn btn-primary btn-lg"
        href="{{ url_for('register') }}"
        role="button"
        >Register</a
      >
      <a
        class="btn btn-secondary btn-lg"
        href="{{ url_for('login') }}"
        role="button"
        id="loginbtn"
        >Login</a
      >
    </p>
    {% endif %}
  </div>

  {% if current_user.is_authenticated %}
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/calories.jpg') }}"
          alt="Calculate Calories"
        />
        <div class="card-body">
          <h5 class="card-title">Calculate Calories</h5>
          <p class="card-text">
            Estimate your daily caloric needs based on your age, weight, height,
            and activity level.
          </p>
          <a href="{{ url_for('get_calories') }}" class="btn btn-primary"
            >Calculate Now</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/landing_page_pic.jpg') }}"
          alt="Get Meals"
        />
        <div class="card-body">
          <h5 class="card-title">Get Meals</h5>
          <p class="card-text">
            Meal recommendations based on your caloric needs and dietary
            preferences.
          </p>
          <a href="{{ url_for('get_meals') }}" class="btn btn-primary"
            >Get Meals</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/show_meals2.jpg') }}"
          alt="Show Meals"
        />
        <div class="card-body">
          <h5 class="card-title">Show Meals</h5>
          <p class="card-text">
            View the meals selected for you and monitor your daily caloric
            intake.
          </p>
          <a href="{{ url_for('show_meals') }}" class="btn btn-primary"
            >Show Meals</a
          >
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="alert alert-info" id="alertLogin">
    <strong>Note:</strong> Please register or log in to access the full features
    of MealMindy.
  </div>
</div>
{% endif %} {% endblock %}
