
{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='show_meals.css')}}">
    <h2 class="mb-4">Your Meals</h2>
    <div class="row">
        {% for label, meal, serving_factor in zip( labels, meals, servings) %}
            <div class="column">
                <div class="card">
                        <h4 class="card-title">{{label.label}}</h4>
                        <h5 class="card-title">{{ meal.name }}</h5>
                        <p class="card-text">Calories: {{ meal.calories }}</p>
                        <p class="card-text">Serving Size: {{ meal.serving_size }}</p>
                        <p class="card-text">Adjusted Serving: {{ round(meal.serving_size * serving_factor, 1) }}</p>
                        <p class="card-text">Recipe: {{ meal.recipe }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <h3>Total Diet Calories: {{ round(diet_calories.calories) }}</h3>
    <!-- Added button to generate another diet directing to get_meals -->
    <a class="btn btn-primary" href="{{ url_for('get_meals') }}">Generate Another Diet</a>
    <!-- If they choose diet generated, let the system know by pressing a button. This is useful to track the calorie intake-->
    <a class="btn btn-secondary" href="{{ url_for('save_calories') }}" style="margin-left: 10px;">I choose this diet</a>
{% endblock %}
