{% extends "layout.html" %}

{% block content %}
    <h2 class="mb-4">Your Meals</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Meal Name</th>
                <th scope="col">Calories</th>
                <th scope="col">Serving Size</th>
                <th scope="col">Adjusted Serving</th>
                <th scope="col">Recipe</th>
            </tr>
        </thead>
        <tbody>
            {% for meal, serving_factor in zip(meals, servings) %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ meal.name }}</td>
                    <td>{{ meal.calories }}</td>
                    <td>{{ meal.serving_size }}</td>
                    <td>{{ round(meal.serving_size * serving_factor, 1) }}</td>
                    <td>{{ meal.recipe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total Diet Calories: {{ round(diet_calories.calories) }}</h3>
    <!-- Added button to generate another diet directing to get_meals -->
    <a class="btn btn-primary" href="{{ url_for('get_meals') }}">Generate Another Diet</a>
{% endblock %}
