name: Run Integration Tests

on:
  workflow_run:
    workflows: ["Deploy App"]  # The name of the first workflow
    types:
      - completed
  push:
    branches:
      - deployment

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Build and run tests
        run: |
          docker-compose -f docker-compose-test.yml up --build --abort-on-container-exit test

      - name: Clean up
        run: docker-compose -f docker-compose-test.yml down
